.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 32.2%;
  margin-bottom:10px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.image-text{
  font-weight: bold;
}

.grid-item img:hover {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

a:hover{
  color:orange;
}